$font-family: 'Montserrat', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$font-size-default: 1.6rem;

$color-black: #413e50;
$color-grey: #f1f1f1;
